<div class="well text-right form-buttons" data-hook="buttons">
  <input type="submit" name="commit" value="Pagar" class="btn btn-success primary" data-disable-with="Pagar">
  <script>Spree.disableSaveOnClick();</script>
</div>