<div class="panel panel-default">
  <div class="panel-heading"></div>
  <div class="panel-body">
    <div class="col-lg-3">
      Codigo de recaudación:
    </div>
    <div class="col-lg-9">
      <%= @pagos_net_bill.code_recaudacion %>
    </div>
  </div>
</div>
